@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-sans: "HarmonyOS Sans", var(--font-geist-sans), sans-serif;
  --font-mono: var(--font-geist-mono), monospace;
  
  --color-primary: #006FEE;
  --color-secondary: #7828C8;
  --color-success: #17c964;
  --color-warning: #f5a524;
  --color-danger: #f31260;
  
  --color-content1: #18181b;
  --color-content2: #27272a;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.dark {
  --background: #000000;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
